body {
  margin: 0;
  padding: 0;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
font-size: 14px;
  color: rgb(136,163,182);
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.mdl-layout__header-row {
  background-color: rgb(0,125,167);
}

.mdl-navigation{
  background-color:rgb(21,35,45);
}


.mdl-layout--fixed-drawer > .mdl-layout__inner-container > .mdl-layout__drawer {
background-color:rgb(21,35,45);
}

.mdl-button{
background-color:rgb(21,35,45);

}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {

  color: rgb(136,163,182)!important
}

.mdl-layout__header{
  background-color: rgb(0,125,167)!important;
}

.LeftNavTitle{
color: rgb(136,163,182)!important;
margin-left:-35px;
}

span.mdl-layout-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;


}
.mdl-layout__drawer .mdl-layout-title{
background-color: rgb(30,58,79)
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  height: 36px;
  width: 218px;
  border-radius: 0;
  color: #88a3b6;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 0 16px!important;
  width: 100%;
  white-space: normal;
  line-height: 36px;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: Open Sans,sans-serif!important;
}

h2{

  display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised{
background-color: rgb(0,125,167)!important;

}

.mdl-navigation__link.active{
  background-color:rgb(30,58,79);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.myNavLink:hover{
  background-color:rgb(30,58,79);
}

._elevio_launcher{
  display:none;
  width:30px;
}

.mdl-layout__content{
  padding:0;
  height:100%;
  widht:100%;
  background-color:blue;
  background:rgb(243,245,247)
  no-repeat;b
  ackground-size:cover;
  background-blend-mode:multiply
}
